*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.logo a{
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

.logo a span{
    color: blueviolet;
}

img{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    transition: 0.3 linear;
}

ul{
    list-style: none;
}

/*navegaçao*/
nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav-header{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rebeccapurple;
}

.nav-logo a{
    color: #fff;
}

.nav-menu-btn{
    font-size: 1.5rem;
    color:#fff;
    cursor: pointer;

}
.nav-link{
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: blueviolet;
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav-link.open{
    transform: translateY(0);
}

.nav-link a{
    font-weight: 500;
    color: blue;
}

.nav-link a:hover{
    color: blueviolet;
}

.nav-btn{
    display: none;
}

/*nav respossiven*/
@media (width>769px){
    nav{
        position: static;
        padding: 2rem 1rem;
        max-width: 1200px;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:2rem;
    }

    .nav-header{
        flex: 1;
        padding: 0;
        background-color:transparent ;
    }

    .nav-logo a{
        color:blue
    }

    .nav-menu-btn{
        display: none;
    }

    .nav-link{
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }

    .nav-link a{
        color: blue;
    }
    .nav-link a:hover{
        color: blueviolet;
    }

    .nav-btn{
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
    
    .nav-btn.btn{
        padding: 8px 10px;
        font-size: 1.5rem;
        border-radius: 100%;
    }
}

/*heder*/
.section-conteiner{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 1rem;
}

.section-descrit{
    color: black;
    line-height: 1.75rem;
    text-align: center;
}

.btn2{
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    white-space: nowrap;
    font-size: 1rem;
    color:#fff;
    background-color: blueviolet;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.btn2:hover{
    background-color: rgb(143, 56, 224);
}

.header-conteiner{
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.header-ima img{
    max-width: 600px;
    margin-inline:auto;
}

.header-content{
    margin-bottom: 1rem;
    font-size: 3.5rem;

}
.header-content p{
    font-size: 1.5rem;
}
.header-content  h1 span{
    color: blueviolet;
}
.header-content .section-descrit{
    margin-bottom: 2px;
}
.header-btn{
    text-align: center;
}



/*heder respansivo*/
@media(width>786px){
    .header-conteiner{
        grid-template-columns: 2fr 3fr;
        align-items: center;
    }

    .header-content h1,
    .header-content .section-descrit,
    .header-btn{
        text-align: left;
    }
    .header-img{
        grid-area: 1/2/2/3;
    }
}

/*special card*/

.section-header{
    margin-bottom: 1rem ;
    font-size: 2,5rem ;
    font-weight:700 ;
    line-height:3rem ;
    text-align: center;
    color: blueviolet ;
}

.spacial-conteiner:is(.section-header,.section-descrit){
    max-width: 600px;
    margin-inline:auto ;
}

.spacial-grid{
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
}

.spacial-card{
    padding:1rem ;
    text-align:center ;
    border-radius:2rem ;
    transition: 0.3s linear;
}

.spacial-card:hover{
    box-shadow: 10px 10px 40px rgb(0, 0, 0,0,0.3);
}

.spacial-card img{
    max-width: 200px;
    width: 100%;
    margin-inline: auto;
    margin-bottom:1rem ;
    filter: drop-shadow(10px 10px 20px rgb(0, 0, 0,0,0.3));
}

.spacial-card h4{
    margin-bottom: 0.5rem;
    font-size:1.5rem ;
    font-weight: 700;
    color: blueviolet;
}

.spacial-card p{
    margin-bottom: 0.5rem;
    color:black;
    line-height: 1.75rem;
}

.spacial-ratings{
    margin-bottom: 1rem;
    font-size: 1rem;
    color:blueviolet ;
}

.spacial-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.spacial-footer .price{
    font-size: 1.2rem;
    font-weight: 600;
    color: blueviolet;
}

/*repansivo cards*/
@media(width >540px){
    .spacial-grid{
        grid-template-columns: repeat(2.1fr);
    }
}
@media(width >768px){
    .spacial-grid{
        grid-template-columns: repeat(3,1fr);
    }
}

/*explore section*/

.explore-conteiner{
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.explore-conteiner img{
    max-width: 400px;
    margin-inline:auto ;
    filter: drop-shadow(0 0 50px blueviolet);
}

.explore-content .section-descrit{
    margin-bottom: 2rem;
}

.explore-btn{
    text-align: center;
}

@media(width > 768px){
    .explore-conteiner{
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }

    .explore-content .section-header{
        max-width: 500px;
    }
    .explore-img{
        grid-area: 1/2/2/3;
    }

    .explore-content:is(.section-header,.section-descrit),.explore-btn{
        text-align: left;
    }
}

/*Banner*/

.banner-conteiner{
    display: grid;
    gap: 1rem;
}

.banner-card{
    padding: 2rem;
    box-shadow: 5px 5px 5px rgb(0, 0, 0,0.1);
    border-radius: 3rem;
    transition: 0.3s;
}

.banner-card:hover{
    box-shadow: 10px 10px 40px rgb(0, 0, 0,0.3);
    transform: translateY(-5px);
}

.banner-card.banner-icon{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 5px 11px;
    font-size: 2rem;
    color: white;
    border-radius: 1rem;
}

.banner-card:nth-child(1).banner-icon{
    background-color: blueviolet;
    box-shadow: 5px 5px 30px blueviolet;
}

.banner-card:nth-child(2).banner-icon{
    background-color: blueviolet;
    box-shadow: 5px 5px 30px blueviolet;
}

.banner-card:nth-child(3).banner-icon{
    background-color: blueviolet;
    box-shadow: 5px 5px 30px blueviolet;
}

.banner-card h4{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font: 600;
    color: blueviolet;
}

.banner-card p{
    color:black ;
    margin-bottom: 1rem;
    line-height: 1.75rem;
}

.banner-card a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 500;
    color: blueviolet;
}

.banner-card a span{
    font-size: 1.25rem;
    transition: 0.3s ;
}

.banner-card a:hover span{
    transform: translateX(5px);
}

@media(width>540px){
    .banner-conteiner{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(width>1024px){
    .banner-conteiner{
        grid-template-columns: repeat(3,1fr);
    }
}

/*mental*/

.mental{
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.mental-bg{
    position: absolute;
    z-index: -1;
    max-width: 275px;
    left: -4rem;
    bottom: -2rem;
}

.mental-conteiner{
    padding-bottom: 10rem;
    display:grid;
    gap: 2rem;
}

.mental-content .section-descrit{
    margin-bottom: 1rem;
}

.mental-image{
    position: relative;
    isolation: isolate;
}

.mental-image img{
    max-width: 500px;
    border-radius: 100%;
    margin-inline: auto;
}

 .mental-image::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    max-width: 500px;
    background-color: black;
    border-radius: 100%;
    z-index: -1;
}

.mental-list{
    display: grid;
    gap: 0.5rem;

} */

.mental-list li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    color: black;
} 

.mental-list li span{
    font-size: 1.5rem;
}

.mental-list li:nth-child(1)span{
    color: blueviolet;
}

.mental-list li:nth-child(2)span{
    color: blueviolet;
}

.mental-list li:nth-child(3)span{
    color: blueviolet;
}

 /* @media(width>740px){
    .mental-conteiner{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

     .mental-image{
        grid-area: 1/2/2/3;
    }

    .mental-content:is(.section-header,.section-descrit){
        text-align: left;
    }

    .mental-list li{
        justify-content: flex-start;
    } 

}

@media(width>1024px){


/*testimonial*/
.testimonial-section{
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem 1rem;
    text-align: center;
}

.testimonial-conteiner{
    position: relative;
    overflow: hidden;
    padding: 10px;
    margin: 10px;

}

.testimonial-card{
    background-color: #fff;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 4px 40px blueviolet;
    border: 2px solid blueviolet;
    border-image-slice: 1;
    opacity: 1;
    transform: scale(0.98);
    transition: all 0.5s ease-in-out;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonial-card.actividade{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
.testimonial-card p{
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.testimonial-card img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
    box-shadow: 0 4px 12px rgb(49, 48, 48);
}

.testimonial-card h4{
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    color:black
}
.testimonial-card h5{
    font-size: 0.95rem;
    color: #6c757d;
    font-weight: 500;
}
.dots{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 8px;
}

.dots span{
    width: 10px;
    height: 10px;
    background-color: blueviolet;
    border-radius: 50%;
    cursor: pointer;
    transition: backgraund-color 0.3s;

}

.dots span.actividades{
    background-color: blueviolet;
}

/*footer*/

footer{
    background-color: blueviolet;
    padding: 40px 0;
    color: #fff;
    margin-top: 40px;
}

.footer_conteiner{
    max-width: 1200px;
    margin: 0 auto; /* CENTRALIZA TUDO */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    gap: 2rem;
}

.footer_col{
    text-align: left;
}

.footer_col h4{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #fff;
}

.footer_links{
    display: grid;
    gap: 0.75rem;
}

.footer_links a{
    color: rgb(230 210 255);
    text-decoration: none;
    transition: 0.3s;
}
.footer_links a:hover{
  color: #fff;
}

@media(width>540px){
    .footer_conteiner{
        grid-template-columns: 3fr 2fr;
    }
}

@media(width>768px){
    .footer_conteiner{
        grid-template-columns: 2fr repeat(3 ,3fr);
    }
}


/*questionario*/
body.quest{
    background: url(imgfundo.jpg);
}

.quest h1 {
            text-align: center;
            color: blueviolet;
            padding: 100px;
        }
        .pergunta {
            background: blueviolet;
            border-radius: 12px;
            box-shadow: 0 2px 5px rgb(255, 255, 255);
            margin-bottom: 20px;
            padding: 15px 20px;
        }
        button {
            display: block;
            margin: 20px auto;
            background: transparent;
            border-color: #fff;
            color: #fff;
            border-color: #fff;
            padding: 12px 25px;
            border-radius: 8px;
            font-size: 16px;
            cursor: pointer;
        }
        button:hover {
            background: blueviolet;

        }
        #resultado {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            margin-top: 25px;
        }

 /*login*/
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ´poppins´,san-serif;
}
body.log{
    background: black;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    position: relative;
    font-size: 16px;
    color: blueviolet;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}
.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: rgb(135, 55, 211);
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}
.navbar a:hover::after{
    transform: translateY(0);
    opacity: 1;

}

.search{
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid blueviolet;
    border-radius: 6px;
    display: flex;
    align-items: center;

}
.search input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: blueviolet;
    padding-left: 10px;
}

.search input::placeholder{
    color: blueviolet;
}

.search button{
    width: 40px;
    height: 100%;
    gap: 20px;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.search button i{
    font-size: 22px;
    color: blueviolet;
}

.background{
    width: 100%;
    height: 100vh;
    background: url(imgdefundo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.conteiner{
    position: absolute;
    top: 10%;
    left: 12%;

    transform: translate(50%, 50%,);
    width: 75%;
    height: 550px;
    background: url(imgdefundo.jpg) no-repeat; 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.conteiner .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 100px;
    color: blueviolet;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.conteiner.logo{
    font-size: 30px;

}
.text-sci h2{
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 samp{
    font-size: 25px;
}

.text-sci p{
    font-size: 16px;
    margin: 20px 0;

}
.icons-sociais a i{
    font-size: 22px;
    color: blueviolet;
    margin-right: 10px;
    transition: 0.5s ease;
}

.icons-sociais a:hover i{
    transform: scale(1.2);
}



.conteiner.logreg-box{ 
    top: 0;
    right: 0;
    position: absolute;
    width: calc(100% - 58%);
    height: 100%;

}

.logreg-box1{
    background: transparent;
    backdrop-filter: blur(10%);
    height: 50%;
    top: 100%;
    padding: 40px;
}
.logreg-box{
    position: absolute;
    top: 50%;
    right: 5%;
    padding: 20px;
    width: 400px 50px 400px;
    transform: translateY(-50%);
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    color: blueviolet;
}

.form-box h2{
    font-size: 32px;
    text-align: center;
    
}
.form-box .input-box{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid blueviolet;
    margin: 30px 0px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color:blueviolet;
    font-weight: 500;
    padding-right: 28px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}
.form-box.remember-forgot{
    font-size: 14.5px;
    font-weight: 500;
    margin: -25px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: blueviolet;
    margin-right: 3px;
}
.remember-forgot a{
    color: blueviolet;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

.remember-forgot a:hover{
    text-decoration: underline;
    color: blueviolet;
}

.btn{
    width: 100%;
    height: 45px;
    background: blueviolet;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: blueviolet;
    font-weight: 500;
    box-shadow: 0 0 10px blueviolet(0,0,0, .5);
}
.form-box.login-re{
    display: flex;
    font-size:14.5px ;
    font-weight: 500 ;
    text-align: center;
    margin-top: 25px;
}

.login-re p a{
    margin: 20px;
    color:blueviolet;
    font-weight: 600;
    text-decoration: none;
    align-items: center;

}

.login-re p a:hover{
    text-decoration: underline;
    color: rgb(141, 75, 202);
}



/*sobre*/
body {
  background: #f0f2f5;
  font-family: Arial, sans-serif;
}

.grid {
  max-width: 1100px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

.card {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  display: block;
}

.card h3 {
  padding: 15px;
  color: #333;
  font-size: 18px;
}

.category {
  display: block;
  color: #3c948b;
  font-size: 14px;
  padding: 0 15px;
}

.date {
  display: block;
  padding: 0 15px 15px;
  color: #777;
  font-size: 13px;
}



/*dicas*/
 body{
      /* margin:0;
      padding:20px; */
      font-family:Arial, sans-serif;
      background:#f3f4f8;
      color:#222;
    }
.container-dicas{
  max-width:600px;
  margin:0 auto;
  display:flex;
  transform: translateX(-200px);
  flex-direction:column;
  gap:16px;
}

.card-dicas{
  background:white;
  padding:18px;
  border-radius:10px;
  box-shadow:0 3px 8px rgba(0,0,0,0.08);

}

h2{margin:0 0 10px 0;font-size:20px}
h3{margin:0 0 6px 0;font-size:16px}
p{margin:0;color:#555;font-size:14px}

.command{font-weight:700;color:#000}

.tip-list{display:flex;flex-direction:column;gap:10px}

.footer-text{
  text-align:center;
  font-size:13px;
  color:#777;
  margin-top:20px;
}